body {
    background-color: #282828;
}

.card-body {
    background-color: cadetblue;
}

.add-task {
    text-align: center;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 40rem;
}

.list-task {
    width: 40rem;
    margin: auto;
}